NODE_ENV=
PORT=
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=
MQTT_BROKER_URL=
MQTT_TOPIC_PREFIX=
AWS_REGION=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
LAMBDA_DISEASE_DETECTION_FUNCTION=
CORS_ORIGINS=
