# Dependencies
node_modules/

# Android build artifacts
android/build/
android/.gradle/
android/app/build/
**/android/build/
**/android/.gradle/
**/android/**/build/
**/android/app/build/
**/intermediates/
**/merged_res/
*.apk

# iOS build artifacts
ios/build/
ios/Pods/
**/ios/build/
**/ios/Pods/

# Expo
.expo/
dist/
web-build/
*.bat
# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Temporary files
*.log
*.tmp

# IDE
.idea/
.vscode/
*.swp
*.swo
.*/

# Testing
coverage/
